venv/

__pycache__/

.ipynb_checkpoints/

*.pyc

.env

.DS_Store

.cache/

logs/

reports/

models/distilbert_final/
models/distilbert_sentiment_model/
models/distilbert_output/

data/raw/
data/processed/

*.csv
*.safetensors
*.bin
*.pt